#display_image_div img {
    max-width: 100%;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
    outline: 0;
    box-shadow: 0 0 0 1px #39f;
}

#image{
    max-width: 100%
}

.preview {
    text-align: center;
    overflow: hidden;
    margin: 10px;
    border: 1px solid red;
}


.section {
    margin-top: 150px;
    background: #fff;
    padding: 50px 30px;
}

.modal-lg {
    max-width: 500px !important;
}

#fr-logo {
    display: none !important;
}